<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sagtimer</title>
</head>
<body>
<h1>Sag timer</h1>
{% block content %}
{% if all %}
<h2>{{navn}}</h2>
<table>
    {% for sag in all %}
    <tr>
        <td>{{sag.dato }}</td>
        <td>{{sag.timer_brugt }}</td>
        <td>{{sag.beskrivelse }}</td>
        <td>{{sag.ijira }}</td>
        <td>{{sag.itimereg }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no Time Reg in the library.</p>
{% endif %}
{% endblock %}

</body>
</html>