<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mine Timer</title>
</head>
<body>
{% block content %}
<h1>Mine Time</h1>
{% if mine_timer %}
<table>

    {% for sag in mine_timer %}
    <tr>
        <td>{{sag.dato }}</td>
        <td><a href="{% url 'showSagTimer'%}?sag={{sag.sagsnummer}}">{{sag.sagsnummer }}</a></td>
        <td>{{sag.timer_brugt }}</td>
        <td>{{sag.beskrivelse }}</td>
        <td>{{sag.ijira }}</td>
        <td>{{sag.itimereg }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no Time Reg in the library.</p>
{% endif %}
{% endblock %}
</body>
</html>